body {
    margin: 0;
    padding: 0;
}

form {
    text-align: center;
}

input {
    height: 25px;
    width: 350px;
    margin: 5px;
    border: none;
    text-align: left;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    background: rgba(233, 230, 230, 0.884);
    color: #000000d8;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 
    1px 1px 5px rgba(233, 230, 230, 0.884)
}

.container__button {
    position: absolute;
    visibility: visible;
    bottom: 0px;
    width: 100%;
    text-align: center;
    /* left: 0px; */
}

.container__button > button {
    margin: 0 auto;
}

.keyboard {
    visibility: hidden;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: gainsboro;
}

.keyboard .row {
    display: flex;
    max-width: 600px;
    margin: auto;
}

.keyboard .key {
    flex: 1;
    margin: 5px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(247, 247, 247);
    transition: all .3s;
    outline: none;
}

.keyboard .key:hover {
    transition: all .3s;
    background: rgba(238, 238, 238, 0.582);
}


.keyboard .key-control {
    flex: 0.2;
}

.slideUp{
    animation-name: slideUp;
    -webkit-animation-name: slideUp;    

    animation-duration: 1s; 
    -webkit-animation-duration: 1s;

    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;

    visibility: visible !important; 
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    65%{
        transform: translateY(4%);
    }
    95%{
        transform: translateY(2%);
    }           
    100% {
        transform: translateY(0%);
    }   
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(100%);
    }
    65%{
        -webkit-transform: translateY(4%);
    }
    95%{
        -webkit-transform: translateY(2%);
    }           
    100% {
        -webkit-transform: translateY(0%);
    }   
}

.slideDown{
    animation-direction: reverse;  
    animation-name: slideDown;
    -webkit-animation-name: slideDown;    

    animation-duration: 1s; 
    -webkit-animation-duration: 1s;

    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;

    visibility: hidden !important; 
}

@keyframes slideDown {
    0% {
        transform: translateY(100%);
    }
    65%{
        transform: translateY(4%);
    }
    95%{
        transform: translateY(2%);
    }           
    100% {
        transform: translateY(0%);
    }   
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(100%);
    }
    65%{
        -webkit-transform: translateY(4%);
    }
    95%{
        -webkit-transform: translateY(2%);
    }           
    100% {
        -webkit-transform: translateY(0%);
    }   
}
